Hi <%=@to.name%>,<br/>
<br/>
<b><%=@from.name%></b> has added you in his poker group <b>"<%=@group.name%>"</b> on <a href="http://poker.protaskm.com">Poker Tour Manager</a>.<br/>
<br/>
Your <b>login</b> is your email (<%=@to.email%>) and your generated <b>password</b> is <%=@pass%> (you can change it once logged in the site).<br/>
<br/>
Best regards,<br/>
PTM: <a href="http://poker.protaskm.com">http://poker.protaskm.com</a><br/>
For any question please email protask@protaskm.com.<br/>
<br/>
